<div class="container">
  <div class="card bg-light mb-3" style="max-width: 18rem; margin: 80px auto;">
    <div class="card-header"><h2>Resend confirmation instructions</h2></div>
    
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%# devise_error_messages! %>

        <div class="field">
          <%# f.label :email %>
          <br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email" %>
        </div>
        
        <br/><br/>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-warning" %>
        </div>
      <% end %>
      <br/><br/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

