<style>
  .form{
    padding: 0 30px;
  }
</style>

<div class="row" style="margin:20px;">
  <div class="col">

    <div class="form">
      <div class="form-panel one">

        <div class="form-content">

          <%= search_form_for(@q, url:recipe_search_path) do |f| %>
            <div class="form-group">
              <label for="username"><%= f.label :title_cont, '料理の名前' %></label>
              <%= f.search_field :title_cont, :placeholder => "キーワードを入力" %>
            </div>

            <div class="form-group">
              <%= f.submit '検索',:class => 'button4' %>
            </div>

          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>
