<style>
  ul li {
    position: relative;
    line-height:2.5em;
    font-weight: bold;
  }
  ul li::after {
    display: block;
    content: '';
    position: absolute;
    line-height:2.5em;
    top: .5em;
    left: -1em;
    width: 8px;
    height: 1px;
    background-color: #666;
    justify-content:center;
  }

  i.fas.fa-trash-alt {
  	font-size: 1rem;
  	color: #543f32;
    background-color:#f8b862;
  	position: relative;
    left:10px;
    bottom:7px;
  	border-radius: 50%;
  	padding: 10px;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  }

  i.fas.fa-trash-alt:hover {
    background-color:#a22041;
  	color:white;
  	cursor:pointer;
  	box-shadow:none;
  }
</style>

<div class="nested-fields">
  <ul>
    <div class="form-group" style="flex-wrap:nowrap; width:300px; margin:auto;">
      <li>
        <label><%= f.label "材料" %></label>
        <%= f.text_field :name %>
        <br>
        <label><%= f.label "数量" %></label>
        <%= f.number_field :kosu, :min =>'0' %>
      </li>
      <%= link_to_remove_association f  do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <br>
  </ul>
</div>
