<div class="row" style="margin:20px; width:650px;">
  <div class="col">

    <h3><span>レシピの編集&ensp;<i class="fas fa-pencil-alt"></i></span></h3>
    <br><br><br>

    <%= render 'form', recipe: @recipe %>
    <div class="row">
      <%= link_to '表示', @recipe %> |
      <%= link_to '削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか' } %> |
      <%= link_to '戻る', recipes_path %>
    </div>

  </div>
</div>
