<style>
  .day {
    font-size:2em;
  }
  .carousel-caption{
    bottom:0;
  }
  p{
    text-align:center;
  }
</style>

<div class="row" style="margin:20px; width:650px;">
  <div class="col">

    <br>
    <h3><span>3Days メニュー&ensp;<i class="fas fa-utensils"></i></span></h3>
    <br><br><br>
    <p>ごはん、おかず、汁物をバランス良く組み合わせた３日分の献立を提案！</p>
    <br><br>

    <div class="day"><b>1Day</b></div>
    <br>

    <div class="row" style="margin:auto;">

      <div class="col" style="text-align:right;">
        <% if @main[0].recipe.img? %>
          <%= link_to (image_tag(@main[0].recipe.img.days_menue_main_thumb.url, :size =>'380x300')), @main[0].recipe %>
        <% else %>
          <%= link_to (image_tag("no-image.png", :size =>'380x300')),  @main[0].recipe %>
        <% end %>

        <div class="carousel-caption d-none d-md-block">
          <span class="outline">
            <%=link_to @main[0].recipe.title, @main[0].recipe, :style=>"color:white;" %>
            <br>
            <i class="fas fa-stopwatch"></i>&ensp;<%= @main[0].recipe.cook_min %>min
          </span>
        </div>
      </div>

      <div class="col" style="text-align:left;">
        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if @side[0].recipe.img? %>
                <%= link_to (image_tag(@side[0].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @side[0].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :size =>'190x150')),  @side[0].recipe %>
              <% end %>
              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @side[0].recipe.title, @side[0].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if @soup[0].recipe.img? %>
                <%= link_to (image_tag(@soup[0].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @soup[0].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :size =>'190x150')),  @soup[0].recipe %>
              <% end %>
              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @soup[0].recipe.title, @soup[0].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <br><br><br>
    <div class="day"><b>2Day</b></div>
    <br>

    <div class="row" style="margin:auto;">

      <div class="col" style="text-align:right;">

        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%# image_tag("3.png", :size => "190x150") %>
              <% if @side[1].recipe.img? %>
                <%= link_to (image_tag(@side[1].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @side[1].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :size =>'190x150')),  @side[1].recipe %>
              <% end %>
              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @side[1].recipe.title, @side[1].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%# image_tag("6.png", :size => "190x150") %>
              <% if @soup[1].recipe.img? %>
                <%= link_to (image_tag(@soup[1].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @soup[1].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :size =>'190x150')),  @soup[0].recipe %>
              <% end %>
              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @soup[1].recipe.title, @soup[1].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col" style="text-align:left;">
        <%# image_tag("5.png", :size => "380x300") %>
        <% if @main[1].recipe.img? %>
          <%= link_to (image_tag(@main[1].recipe.img.days_menue_main_thumb.url, :size =>'380x300')), @main[1].recipe %>
        <% else %>
          <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>'380x300')),  @main[1].recipe %>
        <% end %>

        <div class="carousel-caption d-none d-md-block">
          <span class="outline">
            <%=link_to @main[1].recipe.title, @main[1].recipe, :style=>"color:white;" %>
            <br>
            <i class="fas fa-stopwatch"></i>&ensp;<%= @main[1].recipe.cook_min %>min
          </span>
        </div>
      </div>

    </div>

    <br><br><br>
    <div class="day"><b>3Day</b></div>
    <br>

    <div class="row" style="margin:auto;">

      <div class="col" style="text-align:right;">
        <% if @main[2].recipe.img? %>
          <%= link_to (image_tag(@main[2].recipe.img.days_menue_main_thumb.url, :size =>'380x300')), @main[2].recipe %>
        <% else %>
          <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>'380x300')),  @main[2].recipe %>
        <% end %>

        <div class="carousel-caption d-none d-md-block">
          <span class="outline">
            <%=link_to @main[2].recipe.title, @main[2].recipe, :style=>"color:white;" %>
            <br>
            <i class="fas fa-stopwatch"></i>&ensp;<%= @main[2].recipe.cook_min%>min
          </span>
        </div>
      </div>

      <div class="col" style="text-align:left;">
        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if @side[2].recipe.img? %>
                <%= link_to (image_tag(@side[2].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @side[2].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :class => "ml-3", :size =>'190x150')),  @side[2].recipe %>
              <% end %>
              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @side[2].recipe.title, @side[2].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%# image_tag("10.png", :size => "190x150") %>

              <% if @soup[2].recipe.img? %>
                <%= link_to (image_tag(@soup[2].recipe.img.days_menue_sub_thumb.url, :size =>'190x150')), @soup[2].recipe %>
              <% else %>
                <%= link_to (image_tag("no-image.png", :size =>'190x150')),  @soup[2].recipe %>
              <% end %>

              <div class="carousel-caption d-none d-md-block">
                <span class="outline"><%=link_to @soup[2].recipe.title, @soup[2].recipe, :style=>"color:white;" %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
