<div class="row" style="margin:20px; width:650px;">
  <div class="col">

    <br>
    <h3><span>新しくレシピを投稿&ensp;<i class="fas fa-plus-circle"></i></span></h3>
    <br><br><br>

      <%= render 'form', recipe: @recipe %>

  </div>
</div>
