<style>
  body {
    color:#543f32;
   }
  a:hover {
   text-decoration:none;
   }
</style>

<div class="row" style="margin:20px; width:700px;">
  <div class="col">

    <% if params[:q][:title_cont].empty? %>
      <br>
      <h3><span>すべてのレシピ&ensp;<i class="fas fa-search-plus"></i></span></h3>
      <br><br><br>
    <% else %>
      <br>
      <h3><span><%= params[:q][:title_cont] %>のレシピ&ensp;<i class="fas fa-search-plus"></i></span></h3>
      <br><br><br>
    <% end %>

    <% if @recipes.empty? %>
      <div class="row" style="margin:20px; justify-content:center;">
        <div class="notice"><p>該当するレシピは見つかりませんでした</p></div>
      </div>

      <br>
      <br>

      <h5>
        <span>レシピ一覧<br><%= @page %>ページ </span>
      </h5>

      <br>
      <br>

      <div class="card-columns">

        <% @recipes_all.each do |recipe| %>
          <div class="card" style="width:13.8rem; height:20rem;">
            <% if recipe.img? %>
              <%= link_to (image_tag(recipe.img.thumb.url :class => "card-img-top", :size =>'220x150')), recipe %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :class => "card-img-top", :size =>'220x150')), recipe %>
            <% end %>

            <% d1 = Date.today %>
            <% d2 = recipe.created_at %>
            <br>
            <span class="day"><%= d2.strftime("%Y-%m-%d") %></span>
            <div class="card-body">
                <span class="recipe_name" style="font-size:1rem;">
                  <b><%= link_to recipe.title , recipe %></b>
                </span>
                <% if d1 - Date.parse(d2.to_s) < 2 %>
                  <span class="badge badge-secondary">New</span>
                <% end %>
                <p class="card-text"><%= recipe.user.username %></p>
                <i class="fab fa-gratipay"> <%= recipe.favorites.count %></i>
                &ensp;
                <i class="fas fa-stopwatch"></i> <%= recipe.cook_min %>min
            </div>
          </div>
        <% end %>
      </div>

      <br>

      <ul class="pagination justify-content-center">
        <%= will_paginate @recipe, :class=>'flickr_pagination' , previous_label: '&#8592; &nbsp;前 &nbsp;', next_label: '&nbsp; 次 &#8594;', inner_window: 1, outer_window: 0 %>
      </ul>

    <% else %>
      <h5>
        <span><%= @page %>ページ </span>
      </h5>

      <br>
      <br>

      <div class="card-columns">

        <% @recipes.each do |recipe| %>
          <div class="card" style="width:13.8rem; height:20rem;">
            <% if recipe.img? %>
              <%= link_to (image_tag(recipe.img.thumb.url :class => "card-img-top", :size =>'220x150')), recipe %>
            <% else %>
              <%= link_to (image_tag("no-image.png", :class => "card-img-top", :size =>'220x150')), recipe %>
            <% end %>
            <% d1 = Date.today %>
            <% d2 = recipe.created_at %>
            <br>
            <span class="day"><%= d2.strftime("%Y-%m-%d") %></span>
            <div class="card-body">
                <span class="recipe_name" style="font-size:1rem;">
                  <b><%= link_to recipe.title , recipe %></b>
                </span>
                <% if d1 - Date.parse(d2.to_s) < 2 %>
                  <span class="badge badge-secondary">New</span>
                <% end %>
                <p class="card-text"><%= recipe.user.username %></p>
                <i class="fab fa-gratipay"> <%= recipe.favorites.count %></i>
                &ensp;
                <i class="fas fa-stopwatch"></i> <%= recipe.cook_min %>min
            </div>
          </div>
        <% end %>
      </div>

      <br>

      <ul class="pagination justify-content-center">
        <%= will_paginate @recipe, :class=>'flickr_pagination' , previous_label: '&#8592; &nbsp;前 &nbsp;', next_label: '&nbsp; 次 &#8594;', inner_window: 1, outer_window: 0 %>
      </ul>

    <% end %>

    <br>

  </div>
</div>
