<style>
  .day {
    border-bottom: solid 3px #664032;
    position: relative;
    font-size:1.5em;
  }

  .day:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #f8b862;
    bottom: -3px;
    width: 30%;
  }

  ul li {
    position: relative;
    line-height:2.5em;
    font-weight: bold;
  }
  ul li::after {
    display: block;
    content: '';
    position: absolute;
    line-height:2.5em;
    top: 1em;
    left: -1em;
    width: 8px;
    height: 1px;
    background-color: #666;
  }

  .box1{
    min-height:300px;
    width:190px;
    padding: 1em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #df8663;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

  .fas.fa-pencil-alt{
    position:relative;
    float:right;
    top:3px;
    color:#543f32;
  }

  .fas.fa-pencil-alt:hover{
    color:#a22041;
  }

  .count{
    position:relative;
    float:right;
    color:#a22041;
  }

  .count a{
    color:#a22041;
    text-decoration:none;
  }

  .count:hover{
    content:'';
    color:#543f32;
  }

  .count a:hover{
    color:#543f32;
    text-decoration:none;
  }

  .fas.fa-stopwatch {
    color:#543f32;
    float:right;
  }
</style>

<div class="row" style="margin:20px; width:650px;">
  <div class="col">

    <br>
    <h3><span>レシピ紹介&ensp;<i class="fas fa-tasks"></i></span></h3>
    <br><br><br>

    <% if notice %>
      <div class="row" style="margin:20px; justify-content:center;">
        <span class="notice"><p><%= notice %></p></span>
      </div>
      <br><br>
    <% end %>

    <span class="count">
      <%= link_to recipe_favorites_toggleFav_path(@recipe), id: 'favorite-link', remote: true do %>
        <%= raw favorite_icon(@recipe, current_user) %>
      <% end %>
      <%= @recipe.favorites.count %>
    </span>

    <br>

    <div class="day">

      <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <%= link_to edit_recipe_path(@recipe) do %>
          <span class="button_tooltip" data-toggle="tooltip" title="編集する" style="float:right;">
            <i class="fas fa-pencil-alt"></i>
          </span>
        <% end %>
      <% end %>
      <h3><b><%= @recipe.title %></b></h3>
    </div>

    <div class="col">
      <br><br>
      <div id="ctg" style="float:right;">
        <% @recipe.recipekinds.each do |rk| %>
          <% if rk.kind == "ご飯" %>
            <%= image_tag("rice.png", :size =>'20x20') %>&ensp;<%= rk.kind %>
          <% elsif rk.kind == "おかず" %>
            <%= image_tag("okazu.png", :size =>'20x20') %>&ensp;<%= rk.kind %>
          <% else %>
            <%= image_tag("soup.png", :size =>'20x20') %>&ensp;<%= rk.kind %>
          <% end %>
        <% end %>
      </div>
      <br><br>
      <i class="fas fa-stopwatch">&ensp;<%= @recipe.cook_min %>min</i>
    </div>

    <br><br>

    <div class="row">

      <div class="col">
        <% if @recipe.img? %>
          <%= image_tag(@recipe.img.url :class => "ml-3", :size =>'400x300') %>
        <% else %>
          <%=image_tag("no-image.png", :class => "ml-3", :size =>'385x300') %>
        <% end %>
      </div>

      <div class="col">
        <div class="box1">
          <h5>材料</h5>
          <% @recipe.zairyos.each do |zairyo| %>
          <ul>
            <li>
              <%= zairyo.name %>
              <span style="float:right;"><%= zairyo.kosu %></span>
            </li>
          </ul>
          <% end %>
        </div>
      </div>

      <br><br>



      <div class="col">
        <br><br><br><br>
        <h5>
          <span>つくり方</span>
        </h5>
        <table class="company" style="font-size:1rem;">
          <tbody>
            <% step = 1%>
            <% @recipe.recipeprocesses.each do |process| %>
              <tr>
                <th class="arrow_box"><%= step %></th>
                <td>
                  <%= process.process_txt %>
                </td>
              </tr>
              <% step += 1 %>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <br><br><br>
  </div>
</div>
