<style>
  .form {
    padding: 0 0 0 30px;
  }
</style>

<div class="row" style="margin:20px 55px; width:650px;">
  <div class="col">

    <h3><span>新しいパスワードの設定&ensp;<i class="fas fa-key"></i></span></h3>
    <br><br><br>

    <div class="form">

      <a href= '/users/sign_in'>
        <div class="form-panel four">
        </div>
      </a>

      <a href= '/users/sign_up'>
        <div class="form-panel two">
        </div>
      </a>

      <div class="form-panel one">

        <div class="form-header">
          <h1 style="color:#543f32;">Forgot password?</h1>
        </div>

        <div class="form-content">
          <%# devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

            <div class="form-group">
              <label for="username"><%= f.label :email %></label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <br>

            <div class="form-group">
              <%= f.submit "Send me", :class => 'button3' %>
            </div>

          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
