<style>
  .form-recovery:hover {
    color:#ec6d51;
  }
</style>

<div class="row" style="margin:20px 55px; width:650px;">
  <div class="col">

    <h3><span>ログイン&ensp;<i class="fas fa-unlock-alt"></i></span></h3>
    <br><br><br>

    <div class="form">

      <a href= '/users/sign_up'>
        <div class="form-panel two"><i class="fas fa-unlock-alt"></i></div>
      </a>

      <div class="form-panel one">

        <div class="form-header">
          <h1 style="color:#aacf53;">Account Login</h1>
        </div>

        <div class="form-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <label for="username"><%= f.label :username %></label>
              <%= f.text_field :username, autofocus: true %>
            </div>

            <div class="form-group">
              <label for="password"><%= f.label :password %></label>
              <%= f.password_field :password, autocomplete: "current-password"%>
            </div>

            <br>

            <div class="form-group">
              <label class="form-remember">
                <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>
                    自動ログイン
                <% end %>
              </label>
              <%= link_to "パスワードを忘れた方", new_password_path(resource_name), :class => "form-recovery" %>
            </div>

            <div class="form-group">
              <%= f.submit 'Log In',:class => 'button' %>
            </div>

          <% end %>
        </div>

      </div>

    </div>

  </div>
</div>
