<!DOCTYPE html>
<style>
  .logo-top{
    text-align:center;
  }

  .nav-item a{
    color:white;
    font-weight:bold;
  }

  .nav-item a:hover{
    color:#f8b862;
    font-weight:bold;
    text-decoration:none;
  }
</style>


<html>
  <head>
    <title>Teamcook</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top_bar">
      <nav class="navbar navbar-expand-xs navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class='swanky'>
            <div class='swanky_wrapper' style="width:100%; height:100%;">

              <%= link_to root_path do %>
                <div class='logo-top'>
                  <%= image_tag 'logo.png', :size =>'110x120' %>
                </div>
              <% end %>

              <%= link_to root_path do %>
                <label for='Home'>
                  <%= fa_icon("home") %>&emsp;&ensp;<b>ホーム</b>
                  <div class='bar'></div>
                </label>
              <% end %>

              <%= link_to recipes_new_recipe_path do %>
                <label for='New'>
                  <i class="fas fa-star"></i>&emsp;&ensp;<b>新着レシピ</b>
                  <div class='bar'></div>
                </label>
              <% end %>

              <span class="checkbox_hidden">
                <input id='Ranking_top' name='checkbox' type='checkbox'>
                <label for='Ranking_top'>
                  <i class="fas fa-crown"></i>&emsp;&ensp;<b>ランキング</b>
                  <div class='lil_arrow'></div>
                  <div class='bar'></div>
                  <div class='swanky_wrapper__content'>
                    <ul>
                      <%= link_to recipes_rank_day_path do %><li>日別ランキング</li><% end %>
                      <%= link_to recipes_rank_week_path do %><li>週間ランキング</li><% end %>
                    </ul>
                  </div>
                </label>
              </span>

              <%= link_to recipes_menu_path do %>
                <label for='Menu'>
                  <i class="fas fa-utensils"></i>&emsp;&ensp;<b>3Days メニュー</b>
                  <div class='bar'></div>
                </label>
              <% end %>

            </div>
          </div>
        </div>

      </nav>
    </div>

    <div class="row justify-content-md-center">

      <!--メニューバー---------------------------------------------->
      <div class="side-menu">
        <div class='swanky'>
          <div class='swanky_wrapper'>

            <%= link_to root_path do %>
              <div class='logo'>
                <%= image_tag 'logo.png', :size =>'220x240' %>
              </div>
            <% end %>

            <%= link_to root_path do %>
              <label for='Home'>
                <%= fa_icon("home") %>&emsp;&ensp;<b>ホーム</b>
                <div class='bar'></div>
              </label>
            <% end %>

            <%= link_to recipes_new_recipe_path do %>
              <label for='New'>
                <i class="fas fa-star"></i>&emsp;&ensp;<b>新着レシピ</b>
                <div class='bar'></div>
              </label>
            <% end %>

            <span class="checkbox_hidden">
              <input id='Ranking' name='checkbox' type='checkbox'>
              <label for='Ranking'>
                <i class="fas fa-crown"></i>&emsp;&ensp;<b>ランキング</b>
                <div class='lil_arrow'></div>
                <div class='bar'></div>
                <div class='swanky_wrapper__content'>
                  <ul>
                    <%= link_to recipes_rank_day_path do %><li>日別ランキング</li><% end %>
                    <%= link_to recipes_rank_week_path do %><li>週間ランキング</li><% end %>
                  </ul>
                </div>
              </label>
            </span>

            <%= link_to recipes_menu_path do %>
              <label for='Menu'>
                <i class="fas fa-utensils"></i>&emsp;&ensp;<b>3Days メニュー</b>
                <div class='bar'></div>
              </label>
            <% end %>

          </div>
        </div>
      </div>


      <div class="col-6 col-md-4">
      </div>


      <!--3コラム目(コンテンツ)---------------------------------------------->
      <div class="col-12 col-sm-6 col-md-8" style="box-sizing:border-box;">

        <div class="icon">

          <% if user_signed_in? %>
            <!--検索---------------------------------------------->
            <span class="button_tooltip" data-toggle="tooltip" title="検索">
              <a data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="text-decoration:none;">
                <i class="fas fa-search"></i>
              </a>
            </span>
          <% end %>

          <% if user_signed_in? %>
            <!--ログアウト---------------------------------------------->
            <span class="button_tooltip" data-toggle="tooltip" title="ログアウト">
              <%= link_to destroy_user_session_path, :method => :delete , data: { confirm: 'ログアウトしますか' }, :style=>"text-decoration:none;" do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </span>
          <% else %>
            <!--ログイン---------------------------------------------->
            <span class="button_tooltip" data-toggle="tooltip" title="ログイン">
              <%= link_to new_user_session_path, :method => :new, :style=>"text-decoration:none;" do %>
                <i class="fas fa-sign-in-alt"></i>
              <% end %>
            </span>
          <% end %>

          <% if user_signed_in? %>
            <!--レシピ投稿---------------------------------------------->
            <span class="button_tooltip" data-toggle="tooltip" title="レシピの投稿">
              <%= link_to new_recipe_path, :style=>"text-decoration:none;" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </span>
          <% else %>
            <!--新規登録---------------------------------------------->
            <a href= '/users/sign_up'>
              <span class="button_tooltip" data-toggle="tooltip" title="新規登録">
                <i class="fas fa-user-plus"></i>
              </span>
            </a>
          <% end %>

          <% if user_signed_in? %>
            <!--プロフィール---------------------------------------------->
            <span class="button_tooltip" data-toggle="tooltip" title="プロフィール">
              <%= link_to recipes_prof_path, :style=>"text-decoration:none;" do %>
                <i class="fas fa-user"></i>
              <% end %>
            </span>
          <% end %>

          <!--検索欄---------------------------------------------->
          <div class="collapse" id="collapseExample">
            <br>
            <div class="form">
              <div class="form-panel one">

                <div class="form-content">
                  <% if user_signed_in? %>
                  <%= search_form_for(@q, url:recipe_search_path) do |f| %>
                    <div class="form-group">
                      <label for="username"><%= f.label :title_cont, '料理の名前' %></label>
                      <%= f.search_field :title_cont, :placeholder => "キーワードを入力" %>
                    </div>

                    <div class="form-group">
                      <%= f.submit '検索',:class => 'button4' %>
                    </div>
                  <% end %>
                  <% end %>
                </div>

              </div>
            </div>

            <br>
          </div>

        </div>

        <%= yield %>
      </div>
      <div class="col">
      </div>



    </div>

    <!--フッダー---------------------------------------------->
    <div class="row justify-content-md-center">
      <br><br><br><br><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
</html>
